@model Character

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @* <div class="row p-1">
        <div class="col-1">@User.Identity?.Name<input type="hidden" id="userInput" value="@User.Identity?.Name"/></div>
        <div class="col-5"></div>
    </div> *@
    <div class="row">
        @* <div class="col-6">
            <partial name="Game">
        </div> *@
        <div class="col-12">
            <div class="row p-1" style="height: calc(100vh - 250px);">
                <div class="col-12 ">
                    <ul id="messagesList"></ul>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <hr />
                    <p class="text-center"><span id="characterName">@Model.Name</span> | Level: @Model.Level | Experience: @Model.Experience
                    <button id="spawnButton" class="btn btn-primary">Look for Monsters</button></p>
                    @section Scripts {
                        <script>
                            document.getElementById('spawnButton').addEventListener('click', async () => {
                                const roomId = 'F47AC10B-58CC-4372-A567-0E02B2C3D479';
                                await connection.invoke("SpawnMonster", roomId).catch(function (err) {
                                    console.error(err.toString());
                                });
                            });
                            @* document.getElementById("spawnButton").onclick = function() {
                                const roomId = 'F47AC10B-58CC-4372-A567-0E02B2C3D479';
                                fetch(`/Game/SpawnMonster/?roomId=${roomId}`, { method: 'POST' });
                            }; *@
                        </script>
                    }
                </div>
            </div>
            <div class="row p-1">
                @* <div class="col-1">Message</div> *@
                <div class="col-12 text-center">
                    <input type="text" class="w-75" id="messageInput" />
                    <input type="hidden" id="characterId" value="@Model.Id">
                    <input type="hidden" id="roomId" value="F47AC10B-58CC-4372-A567-0E02B2C3D479">
                    <input type="button" id="sendButton" value="Send" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>